In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sys
import os

# Load other functions
sys.path.append(os.path.abspath('../src'))
sys.path.append(os.path.abspath('../scripts'))

from load_datasource import CSVData, get_stock_path

### Load Stoke Price data for Analysis

In [2]:

# Load AAPL data
AAPL = get_stock_path("AAPL")
AAPL_data = CSVData(AAPL).load_data()

# Load AMZN data
AMZN = get_stock_path("AMZN")
AMZN_data = CSVData(AMZN).load_data()

# Load GOOG data
GOOG = get_stock_path("GOOG")
GOOG_data = CSVData(GOOG).load_data()

In [ ]:
# Add Identifiers column for distinction
AAPL_data['Identifier'] = 'AAPL'
AMZN_data['Identifier'] = 'AMZN'
GOOG_data['Identifier'] = 'GOOG'

In [4]:
# Concatenate datasets
df_all = pd.concat([AAPL_data, AMZN_data, GOOG_data], ignore_index=True)

### Basic Info & Cleaning

In [10]:
df_all.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Identifier
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL

In [6]:
df_all.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
Identifier      0
dtype: int64

In [7]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22864 entries, 0 to 22863
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          22864 non-null  object
 1   Open          22864 non-null  float64
 2   High          22864 non-null  float64
 3   Low           22864 non-null  float64
 4   Close         22864 non-null  float64
 5   Adj Close     22864 non-null  float64
 6   Volume        22864 non-null  int64
 7   Dividends     22864 non-null  float64
 8   Stock Splits  22864 non-null  float64
 9   Identifier    22864 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 1.7+ MB

In [8]:
df_all['Identifier'].value_counts()

Identifier
AAPL    10998
AMZN     6846
GOOG     5020
Name: count, dtype: int64